.banner {

    background: $byzantine;
    border-bottom: 3px solid $byzan_dark;
    height: 300px;

    h1,h1,h3,h4,h5,h6 {
        font-family: $font-stack;
    }
    
    > div {
        margin-top: 100px;
        text-align: center;
        opacity: 0.5;
        transition: background-color,color,opacity,height, 0.8s ease;
        
        &:hover {
            background-color: $byzan_dark;
            color:  $floral_white;
            opacity: 1;
        }
    }
        
}

.auth {

    background-color: $light_pea;
    
    #columnA {
        border-bottom: 2px solid black;
        padding-bottom: 2%;
        
        form {
            margin: 2% auto 0;
            max-width: 600px;
        }
        
    }
}