.banner {

    background: $byzantine;
    border-bottom: 3px solid $byzan_dark;
    height: 300px;

    h1,h1,h3,h4,h5,h6 {
        font-family: $font-stack;
    }
    
    div:first-child {
        margin-top: 100px;
        text-align: center;
        opacity: 0.5;
        transition: background-color,color,opacity,height, 0.8s ease;
        
        &:hover {
            background-color: $byzan_dark;
            color:  $floral_white;
            opacity: 1;
        }
    }
    
    div:last-child {
        margin-top: 75px;;
        padding-left: 35px;
        @include respondto(phone) {
            margin-top: 115px;
        }
    }
}

.form-wrapper {

    background-color: $light_pea;
    
    #get-in-touch {
        margin: 0 auto;
        max-width: 500px;
        
        h2 {
            text-align: center;
        }
        
        header {
            background-color: $byzan_dark;
            color: white;
        }
        
        section {
            margin-left: 95px;
        }
        
        label {
            display: block;
            margin-top: 20px;
            letter-spacing: 2px;
        }
        
        input, textarea {
            max-width: 300px;
            background: #efefef;
            border: 1px solid #dedede;
            padding: 10px;
            margin-top: 3px;
            font-size: 0.9em;
            color: #3a3a3a;
            border-radius: 5px;
            &:focus {
                border: 1px solid #97d63b;
            }
        }
        
        textarea {
            height: 200px;
            display: block;
            margin-bottom: 25px;
            
        }
        
        input#submit {
            height: 38px;
            cursor: pointer;
            transition: background-color, opacity, 0.8s ease;
            &:hover {
                opacity: 0.7;
                background-color: $byzan_dark;
            }
        }
        
        
    }
    

}