.homePage { 
    
    p.letter::first-letter {
        background-color: gray;
        color: red;
        font-size: 3em;
    }
    
    a {
    text-decoration: none;
    }
    
    .testClass {
     color: gray;
     text-align: justify;
    }
    
    #bouncXing {
        border: 1px solid black;
        width: 50%;
        height: 50%;
        margin: 0 auto;
        display: block;
        padding: 15px;
    }
    
    div {
        > h3 {
            margin-top: 5px;
        }
    }
    
    pre {
        text-align: justify;
        white-space: normal;
    }
    
}

@include sticky-footer(150px, "#root", "#root-footer", "#footer");
    
    
    
    
