/**************************************
Fonts*/

$font-stack: 'Open Sans', Arial, sans-serif;

/***************************************/


/**************************************
Colors*/

$background: #FAFAFA;
$boxshadow: #DDDDDD;
$grayish_orange: #F4F0EC;
$byzantine: #c9a0dc;
$byzan_dark: #a968c7;
$floral_white: #fffaf0;
$light_pea: #eff8ea;

/***************************************/
