/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * This is like your global file
  */
 
//Modules
@import "compass/reset";
@import "compass/typography";
@import "compass/layout";
@import "compass/layout/grid-background";

//Variables

$font-stack: 'Open Sans', Arial, sans-serif;

$background: #FAFAFA;
$boxshadow: #DDDDDD;
$grayish_orange: #F4F0EC;
$byzantine: #c9a0dc;
$byzan_dark: #a968c7;
$floral_white: #fffaf0;
$light_pea: #eff8ea;

$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;

//Global styles

body {
    background-color: $background;
    font-family: $font-stack;
    padding-top: 15px;
}

.panel-heading {
        h1,h2,h3 {
            text-align: center;
        }
}

.zero {
    @include baseline-grid-background();
}